@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Standings Table Gome Page </h1>

<div class="row">
    <div class="col-md-4">
        <h2>Team</h2>
        <p><a class="btn btn-default" href="/Team/Index">Team &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Player</h2>
        <p><a class="btn btn-default" href="/Player/Index">Player  &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Game</h2>
        <p><a class="btn btn-default" href="/Game/Index">Game &raquo;</a></p>
    </div>
</div>