
@{
    ViewBag.Title = "Index";
}

<h2>Game Hom Page</h2>

<a class="btn btn-primary" href="Create" role="button">Input Score</a>
<a class="btn btn-primary" href="Edit" role="button">Edit Game Score</a>
<a class="btn btn-primary" href="ViewStandingsTable" role="button">View Standings Table</a>
<a class="btn btn-primary" href="ViewGames" role="button">View Gamese Played</a>
<button type="button" onclick="history.back()" class="btn btn-outline-secondary">Go Back</button>

