
@{
    ViewBag.Title = "Index";
}

<h2>Player Home </h2>

<a class="btn btn-primary" href="Create/Player" role="button">Create Player</a>
<a class="btn btn-primary" href="Edit/Player" role="button">Edit Player</a>
<a class="btn btn-primary" href="Delete/Player" role="button">Delete Player</a>
<a class="btn btn-primary" href="/Player/ViewPlayers" role="button">View Players</a>
<button type="button" onclick="history.back()"class="btn btn-outline-secondary">Go Back</button>