
@{
    ViewBag.Title = "Index";
}

<h2>Team Home Page</h2>

<a class="btn btn-primary" href="Create/Team" role="button">Create Team</a>
<a class="btn btn-primary" href="Team/Edit" role="button">Edit Team</a>
<a class="btn btn-primary" href="Delete/Team" role="button">Delete Team</a>
<button type="button" onclick="history.back()" class="btn btn-outline-secondary">Go Back</button>
